# Ignore a blackhole and the folder for development
node_modules/
.vs/
.idea/
*.iml
docs/

# Build code
dist/

# Yarn files
.yarn/install-state.gz
.yarn/build-state.yml

# Ignore heapsnapshot and log files
*.heapsnapshot
*.log

# Ignore package locks
package-lock.json
