# Ignore a blackhole and the folder for development
node_modules/
.vs/
.idea/
*.iml
coverage/
docs/

# Build code
dist/

# Ignore JavaScript files
**/*.js
**/*.mjs
!scripts/*.mjs
**/*.js.map
**/*.d.ts
!src/**/*.d.ts
**/*.tsbuildinfo
!jest.config.js

# Ignore heapsnapshot and log files
*.heapsnapshot
*.log

# Ignore package locks
package-lock.json

# Test results
test.xml
