# Packages
node_modules/
package-json.lock
yarn.lock

# Log files
logs/
*.log

# Build files
*.tsbuildinfo
*.tgz

# Test and Coverage results and files
test.xml
.nyc_output/

# Miscellaneous
.tmp/
docs/

# NPM ignore
.github/
.vs/
.vscode/
.idea/
examples/
test/
static/
.eslintignore
.eslintrc.json
.gitattributes
.gitignore
.nycrc.json
azure-pipelines.yml
PROTOCOL.md
SECURITY.md
CHANGELOG.md
tsconfig.json

# Source Code, only the dist is shipped
src/
